@use "reset";
@use "colors" as c;
@use "media-queries" as mq;
@import 'https://fonts.googleapis.com/css?family=Raleway:100,300,400|Roboto+Condensed:300,700&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Ponnala&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




@mixin important-text {
  color: red;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid blue;
}

body {
  font-family: "Roboto Light", sans-serif;
}
h1 {
  font-family: "Roboto", serif;
}

p {
  font-family: "Parkinsans", sans-serif;
}

.important {
  @include important-text;
}

.button-basic  {
  border: none;
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button-report  {
  @extend .button-basic;
  background-color: red;
}

.button-submit  {
  @extend .button-basic;
  background-color: green;
  color: white;
}

@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

.div {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s;
  animation-name: example;
  animation-duration: 4s;
}

.div:hover {
  width: 300px;
}

//body {
//  background-color: green;
//}
//

//@include mq.tablet {
//  body {
//    background-color: yellow;
//  }
//}
//
//@include mq.desktop {
//  body {
//    background-color: red;
//  }
//}

h1{
  color: #000;
}

li{
  display: inline-block;
  padding-left: 8px;
}

header li:hover{
  background-color: #b7b7bb;
  cursor: pointer;
  transition: all 0.8s;
}

nav{
  position: absolute;
  right: 25px;
  top: 8px;
}
h3{
  color: #b8b8bf;
  font-size: 17px;
  padding-left: 40px;
}
h2{
  font-size: 35px;
  padding-left: 40px;
}
header img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.prva_sekcija p{
  padding-left: 40px;
  padding-right: 40px;
  font-size: 22px;
}

.row_one{
  text-align: center;
}

.row_one img{
  width: 468px;
  height: 336px;
}

.row_one .sekcija_jedan{
  display: inline-block;
  justify-content: center;
  width: 600px;
  padding-right: 200px;
}

.row_one .sekcija_dva{
  display: inline-block;
  width: 600px;
}

.row_two{
  text-align: center;
}

.row_two img{
  width: 468px;
  height: 336px;
}

.row_two .sekcija_tri{
  display: inline-block;
  justify-content: center;
  width: 600px;
  padding-right: 200px;
}

.row_two .sekcija_cetiri{
  display: inline-block;
  width: 600px;
}

.forma {
  display: block;
  text-align: center;
  background-color: #b6b8b6;
  margin: 0;
  padding: 60px;
}

.forma form{
  display: inline-block;
}

.forma button img{
  display: inline-block;
  height: 15px;
  width: 15px;
}

.second_section{
  text-align: center;
}

.second_section .picture_five{
  display: inline-block;
  justify-content: center;
  width: 600px;
  padding-right: 200px;
}


.second_section .picture_six{
  display: inline-block;
  width: 600px;
}

.button{
  display: block;
  text-align: center;
}

.button button{
  margin-top: 200px;
  height: 90px;
  width: 200px;
  font-size: 25px;
  background-color: #fff;
  font-family: 'Times New Roman', Times, serif;
  color: #6f6f72;
  border:solid 1px #6f6f72;
}

.button button:hover{
  background-color: #b7b7bb;
  cursor: pointer;
  transition: all 0.8s;
}

footer {
  display: block;
  margin-top: 80px;
  padding-top: 20px;
  background-color: #e8e8e8;
  padding-bottom: 20px;
}

footer ul{
  display: inline-block;
}

footer .second_list img{
  height: 20px;
  width: 20px;
}

footer .second_list{
  display: inline-block;
  position: absolute;
  right: 25px;
}


